@import "@/scss/mixins";

.wrapper {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  background-color: #fdfdfd;
  @include m {
    padding: 0rem 5rem;
  }
}

.content {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.pagination {
  margin-top: auto;
  justify-content: center;

  &:first-of-type {
    display: flex;
    padding-top: 1rem;

    @include m {
      display: none;
    }
  }

  &:last-child {
    padding-top: 2rem;
    padding-bottom: 2rem;
  }
}

.gridContainer {
  margin-top: 2rem;
}

.searchInputContainer {
  margin: 1rem;
  @include l {
    width: 50%;
    margin: 1.5rem auto 0 auto;
  }
}
