.container {
  position: relative;
  width: 1200px;
  height: 850px;
  border: 1px solid whitesmoke;
  margin-inline: auto;
}

.buttonContainer {
  position: absolute;
  top: 1rem;
  left: 1rem;
  z-index: 1;
}
