.card {
  max-width: 500px;
  height: 100%;
  cursor: pointer;
  & > div:first-child {
    background-color: var(--header-bg-color);
  }
}

.dataEntry {
  display: flex;
  gap: 0.25rem;
  text-transform: capitalize;
  dt {
    font-weight: bold;
    &:after {
      content: ':';
    }
  }
}

.title {
  font-size: 1rem;
  color: var(--header-font-color);
}
