.card {
  height: 100%;
  color: #f0f0f0;
  cursor: pointer;
  transition: transform 0.25s;

  &:hover {
    box-shadow: 0 0 30px #f0f0f0;
    transform: scale(1.015);
    transition: transform 0.25s;
  }

  a {
    color: inherit;
  }
}

.content {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  svg {
    width: 28px;
    height: 28px;
  }
}

// use this selector to override antd styling
div.card {
  background-color: black;
  & > div {
    height: 100%;
  }
}

.title {
  font-size: 1rem;
}
