.container {
  width: 1200px;
  height: 850px;
  border: 1px solid whitesmoke;
  margin-inline: auto;
  // margin-top: var(--top-offset);
}

.buttonContainer {
  position: absolute;
  top: var(--top-offset);
  left: 1rem;
  z-index: 1;
}
